*{
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(images/oblation.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    padding: 2% 6%;
    font-family: 'Nunito';
}
nav img { width: 125px; }

.nav-links {
    margin-top: 2%;
    flex: 1;
    text-align: right;
}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 20px;
    position: relative;
}
.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
.nav-links ul li::after {
    display: block;
    margin: auto;
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    transition: 0.5s;
}
.nav-links ul li:hover::after { width: 100%; }

.nav-links li ul{
    text-align: left;
    display: none;
    background: #000;
    position: absolute;
    top: 100%;
    left: 0;
    width: 240px;
    z-index: 99999;
}

.nav-links li ul li ul{
    text-align: left;
    display: none;
    background: #000;
    position: absolute;
    left: 100%;
    top: 0;
    z-index: 99999;
}

.dropdown ul li{
    background-color: #0b4424;
    width: 90%;
}
.dropdown ul li a { font-size: 15px; }

/* TABS */
#tabs {
    font-family: 'Nunito';
    width: 85%;
    margin: auto;
    margin-bottom: 5%;
    background-color: none;
    border: none;
}
.tab {
    padding: 0;
    margin: 0;
    list-style: none;
}
.tab li {
    display: inline-block;
    padding: 10px;
    background: rgba(0,0,0,0.2);
    min-width: 100px;
    text-align: center;
    color: #fff;
    border-radius: 5px 5px 0px 0px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-right: 10px;
}
.tab li a {
    font-family: 'Roboto';
    font-size: 15px;
    text-decoration: none;
    color: #fff; 
}

.tab li.active { background: #f44336; }
.tab li:hover { background: #f44336; }

.tab_container {
    padding: 10px;
    background: rgba(0,0,0,0.5);
    color: #fff;
    border-radius: 0 5px 5px 5px;
    border-top: 5px #0b572c solid;
    display: none;
}

/* TEXT */
p {
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3%;
}
h1 {
    margin-top: 2%;
    margin-left: 5%;
}

.con {
    text-align: left;
    margin-left: 5%;
    border-radius: 10px;
    border-left: 5px #f44336 solid;
    background-color: rgba(0,0,0,0.8);
    padding: 10px;
}
.con2 {
    text-align: left;
    margin-left: 10%;
    border-radius: 10px;
    border-left: 5px #f44336 solid;
    background-color: rgba(0,0,0,0.8);
    padding: 10px;
}

.num, .email {
    margin-left: 15%;
}
.mail, .site {
    text-align: left;
    margin-left: 15%;
}

.deets {
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 10%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
h3 {
    font-style: italic;
}

/* SCROLLBAR */
::-webkit-scrollbar { width: 3px; }
::-webkit-scrollbar-track { background: #f1f1f1; }
::-webkit-scrollbar-thumb {
    background: #f44336;
    border-radius: 10px;
}
