*{
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(images/oblation.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    padding: 2% 6%;
    font-family: 'Nunito';
}
nav img { width: 125px; }

.nav-links {
    margin-top: 2%;
    flex: 1;
    text-align: right;
}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 20px;
    position: relative;
}
.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
.nav-links ul li::after {
    display: block;
    margin: auto;
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    transition: 0.5s;
}
.nav-links ul li:hover::after { width: 100%; }

.nav-links li ul{
    text-align: left;
    display: none;
    background: #000;
    position: absolute;
    top: 100%;
    left: 0;
    width: 240px;
    z-index: 99999;
}

.nav-links li ul li ul{
    text-align: left;
    display: none;
    background: #000;
    position: absolute;
    left: 100%;
    top: 0;
    z-index: 99999;
}

.dropdown ul li{
    background-color: #0b4424;
    width: 90%;
}
.dropdown ul li a { font-size: 15px; }

/* TEXT */
h1 {
    text-align: center;
    font-family: 'Roboto';
    color: #fff;
}

/*accordian*/
.content{
	max-width: 85%;
	display: block;
	margin: auto;
    margin-top: 2%;
    font-family: 'Nunito';
    color: #fff;
}

.content .card{
	float: left;
	width: 100%;
}
.content .card .card-header h3{
	cursor: pointer;
	color:#ffffff;
	position: relative;
	background-color: #0b4424;
    border-left: 5px #f44336 solid;
	margin: 0;
	padding:15px 20px;
    font-family: 'Nunito';
}
.content .card .card-header {
	position: relative;
}
.content .card .card-header span{
	position: absolute;
	right:20px;
	top:12px;
	height:25px;
	width:25px;
	color:#f44336;
	background-color: #ffffff;
	border-radius:50%;
	text-align: center;
	line-height:25px;
	font-size:13px;
}
.content .card .card-body{
    background-color: rgba(0,0,0,0.5);
	padding:20px;
}
.content .card .card-body{
	display: none;
}
/*open one card by default*/
.content .card:nth-child(1) .card-body{
    display: block;
}

.content .card .card-body p{
    font-size: 15px;
    line-height: 24px;
    color:#fff;
    margin:0px;
}
   
/* card-body*/
.content .card .card-body h3 { margin-left: 5%; }
.content .card .card-body h5 { margin-left: 5%; }

.content .card .card-body p {
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3%;
}
.content .card .card-body .job-opps {
    margin: auto;
    width: 90%;
}
.content .card .card-body .job {
    display: inline-block;
    padding: 5px 10px;
    border-left: 5px #f44336 solid;
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
    margin: 1%;
}

.content .card .card-body .desc { margin-left: 5%; }

/* SUBJ ANTHRO */
.content .card .card-body .anth-subj {
    display: inline-block;
    padding: 10px;
    background-color: rgba(0,0,0,0.5);
    border-top: 5px #0b572c solid;
    width: 30%;
    padding: 20px 15px 15px 15px;
    border-radius: 10px;
    margin-left: 5%;
    margin-bottom: 2%;
}
.content .card .card-body .anth-subj h3 { font-size: 15px; }
.content .card .card-body .anth-subj2 {
    display: inline-block;
    padding: 10px;
    background-color: rgba(0,0,0,0.5);
    border-top: 5px #0b572c solid;
    width: 50%;
    padding: 20px 15px 0px 15px;
    border-radius: 10px;
    margin-left: 2%;
}
.content .card .card-body .anth-subj2 h3{ font-size: 15px; }

/* SUBJ ABE */
.content .card .card-body .abe-subj {
    display: inline-block;
    padding: 10px;
    background-color: rgba(0,0,0,0.5);
    border-top: 5px #0b572c solid;
    width: 35%;
    padding: 20px 15px 15px 15px;
    border-radius: 10px;
    margin-left: 5%;
    margin-bottom: 2%;
}
.content .card .card-body .abe-subj p { font-size: 10px; }
.content .card .card-body .abe-subj h3{ font-size: 15px; }

.content .card .card-body .abe-subj2 {
    display: inline-block;
    padding: 10px;
    background-color: rgba(0,0,0,0.5);
    border-top: 5px #0b572c solid;
    width: 45%;
    padding: 20px 15px 5px 15px;
    border-radius: 10px;
    margin-left: 2%;
}
.content .card .card-body .abe-subj2 p { font-size: 10px; }
.content .card .card-body .abe-subj2 h3{ font-size: 15px; }

/* FOODSCI */
.content .card .card-body .food-sci {
    margin: auto;
    width: 90%;
}
.content .card .card-body .point {
    display: inline-block;
    padding: 5px 10px;
    border-left: 5px #0b572c solid;
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
    margin-bottom: 0.5%;
    margin-left: 5%;
}

.content .card .card-body .foodsci-job-opps .fs-job {
    display: inline-block;
    padding: 5px 10px;
    border-left: 5px #f44336 solid;
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
    margin-left: 10%;
}

.content .card .card-body .foodsci-job-opps .desc {
    display: inline-block;
    padding: 5px 10px;
    border-left: 5px #0b572c solid;
    margin-left: 15%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.content .card .card-body .fs-subj {
    display: inline-block;
    padding: 10px;
    background-color: rgba(0,0,0,0.5);
    border-top: 5px #0b572c solid;
    width: 35%;
    padding: 20px 15px 15px 15px;
    border-radius: 10px;
    margin-left: 2%;
    margin-bottom: 2%;
}

.content .card .card-body .fs-subj2 {
    display: inline-block;
    padding: 10px;
    background-color: rgba(0,0,0,0.5);
    border-top: 5px #0b572c solid;
    width: 45%;
    padding: 20px 15px 15px 15px;
    border-radius: 10px;
    margin-left: 5%;
    margin-bottom: 2%;
}
.content .card .card-body .fs-subj h3 { font-size: 15px; }
.content .card .card-body .fs-subj2 h3 { font-size: 15px; }

/* KOMSAY */
.content .card .card-body .cs-subj {
    display: inline-block;
    padding: 10px;
    background-color: rgba(0,0,0,0.5);
    border-top: 5px #0b572c solid;
    width: 40%;
    padding: 20px 15px 15px 15px;
    border-radius: 10px;
    margin-left: 5%;
    margin-bottom: 2%;
}

.content .card .card-body .cs-subj2 {
    display: inline-block;
    padding: 10px;
    background-color: rgba(0,0,0,0.5);
    border-top: 5px #0b572c solid;
    width: 40%;
    padding: 20px 15px 15px 15px;
    border-radius: 10px;
    margin-left: 2%;
    margin-bottom: 2%;
}

.content .card .card-body .cs-subj h3 { font-size: 15px; }
.content .card .card-body .cs-subj2 h3 { font-size: 15px; }

/* BIOLOGY */
.content .card .card-body .bio-subj {
    display: inline-block;
    padding: 10px;
    background-color: rgba(0,0,0,0.5);
    border-top: 5px #0b572c solid;
    width: 40%;
    padding: 20px 15px 15px 15px;
    border-radius: 10px;
    margin-left: 5%;
    margin-bottom: 2%;
}

.content .card .card-body .bio-subj2 {
    display: inline-block;
    padding: 10px;
    background-color: rgba(0,0,0,0.5);
    border-top: 5px #0b572c solid;
    width: 40%;
    padding: 20px 15px 15px 15px;
    border-radius: 10px;
    margin-left: 2%;
    margin-bottom: 2%;
}

.content .card .card-body .bio-subj h3 { font-size: 15px; }
.content .card .card-body .bio-subj2 h3 { font-size: 15px; }

/*MATH*/
.content .card .card-body .math-subj {
    display: inline-block;
    padding: 10px;
    background-color: rgba(0,0,0,0.5);
    border-top: 5px #0b572c solid;
    width: 40%;
    padding: 20px 15px 15px 15px;
    border-radius: 10px;
    margin-left: 5%;
    margin-bottom: 2%;
}

.content .card .card-body .math-subj2 {
    display: inline-block;
    padding: 10px;
    background-color: rgba(0,0,0,0.5);
    border-top: 5px #0b572c solid;
    width: 40%;
    padding: 20px 15px 15px 15px;
    border-radius: 10px;
    margin-left: 2%;
    margin-bottom: 2%;
}

.content .card .card-body .math-subj h3 { font-size: 15px; }
.content .card .card-body .math-subj2 h3 { font-size: 15px; }

/*ENGLISH*/
.content .card .card-body .eng-subj {
    display: inline-block;
    padding: 10px;
    background-color: rgba(0,0,0,0.5);
    border-top: 5px #0b572c solid;
    width: 40%;
    padding: 20px 15px 15px 15px;
    border-radius: 10px;
    margin-left: 5%;
    margin-bottom: 2%;
}

.content .card .card-body .eng-subj2 {
    display: inline-block;
    padding: 10px;
    background-color: rgba(0,0,0,0.5);
    border-top: 5px #0b572c solid;
    width: 40%;
    padding: 20px 15px 15px 15px;
    border-radius: 10px;
    margin-left: 2%;
    margin-bottom: 2%;
}

.content .card .card-body .eng-subj h3 { font-size: 15px; }
.content .card .card-body .eng-subj2 h3 { font-size: 15px; }

/*DESS*/
.content .card .card-body .yearsem {
    display: inline-block;
    background-color: rgba(0,0,0,0.5);
    border-top: 5px #0b572c solid;
    width: 40%;
    padding: 20px 15px 15px 15px;
    border-radius: 10px;
    margin-left: 5%;
    margin-bottom: 2%;
}
.content .card .card-body .yearsem p { font-size: 10px; }

/*MIM*/
.content .card .card-body .mim-job-opps .mim {
    display: inline-block;
    padding: 5px 10px;
    border-left: 5px #f44336 solid;
    margin-left: 5%;
}
.content .card .card-body .mim-job-opps .mim2 {
    margin-left: 5%;
}

/* SCROLLBAR */
::-webkit-scrollbar { width: 3px; }
::-webkit-scrollbar-track { background: #f1f1f1; }
::-webkit-scrollbar-thumb {
    background: #f44336;
    border-radius: 10px;
}